@import "_adaptiveFontMixin";
@import "_variables";
@import "_templates";

body {
  background-color: $whiteDim;
  font-family: "Inter";
  font-size: $body1;
  line-height: 1.4;
}

[class*="__container"] {
  padding: 0px 15px;
  max-width: 1200px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4 {
  color: $primary;
}

h1 {
  font-weight: 700;
  @include adaptive-font(63, 40);
  line-height: 1.2;
}

h2 {
  font-weight: 700;
  @include adaptive-font(42, 24);
  margin-bottom: 20px;
}

h3 {
  font-weight: 600;
  @include adaptive-font(24, 20);
}

h4 {
  font-weight: 500;
  font-size: 20px;
}

.hover-underline {
  &:hover {
    text-decoration: underline;
  }
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 600;
  font-size: 28px;
  color: $primary;
}

.button {
  transition: ease 0.7s;
  color: $white;
  border-radius: 100px;
  background-color: $primaryLight;
  padding: 10px 24px;
  &:hover {
    color: black;
    background-color: $white;
  }
}

.ta-center {
  text-align: center;
}

.section-intro {
  margin-bottom: 60px;
}

.section-descrp {
  color: #6f6f6f;
}

.slider-pagination {
  display: none;
  position: static;
  margin-top: 20px;
  .swiper-pagination-bullet {
    width: 10px;
    background-color: $primary;
    height: 10px;
  }
}

.social {
  display: flex;
  gap: 12px;
}

.social__item {
  transition: ease 0.7s;
  border-radius: 50%;
  border: 1px solid $white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 34px;
  height: 34px;
  &:hover {
    .social__img {
      filter: invert(100%);
    }
    background-color: $white;
  }
}

.social__img {
  transition: ease 0.7s;
  max-width: 100%;
}
