@media (max-width: 991px) {
  .nav__menu {
    display: none;
  }

  .header__logo {
    flex: 1 1 auto;
  }

  .menu-burger {
    display: flex;
    margin-left: 15px;
  }

  .about__content {
    margin: 20px;
  }

  .slider-pagination {
    display: block;
  }

  .questions__block-img {
    display: none;
  }

  .questions__spollers {
    padding: 0px 15px;
    flex: 1 1 100%;
    margin: 0 auto;
  }
}

@media (max-width: 767px) {
  // section {
  //   border-bottom: 2px solid $primary;
  // }

  .about__block-img {
    display: none;
  }

  .about__info {
    flex: 1 1 100%;
  }
}

@media (max-width: 480px) {
  .sign {
    display: none;
  }
}
