// colors

$primary: #001c3c;
$primaryLight: #00acec;
$whiteDim: #f5fafe;
$white: #ffffff;
$black: #1b1d1f;
$redLight: #ff3a44;

// font-size, adaptive

$maxWidth: 1440;

$body1: 16px;
$body2: 14px;
$body3: 12px;
