@import "_nullstyle";
@import "_generals";

// ------------------------------ header

.header {
  background-color: $white;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.header__body {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  align-items: center;
  min-height: 85px;
}

.header__logo {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 600;
  font-size: 28px;
  color: $primary;
}

.nav__menu {
  display: flex;
  gap: 40px;
  align-items: center;
}

.nav__menu-item {
  color: $primary;
}

.nav__menu-link {
  transition: ease 0.5s;
  // &:hover {

  // }
}

.sign__in {
  font-weight: 500;
  color: $primary;
}

.sign__up {
  color: #6f6f6f;
}

.menu-burger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.menu-burger__line {
  width: 30px;
  height: 3px;
  border-radius: 2px;
  background-color: black;
}

// ------------------------- intro

.intro {
  color: $white;
  background: url(images/IntroBackground.png) no-repeat center;
  background-size: cover;
  margin-top: 85px;
}

.intro__container {
  padding: 200px 15px 200px 15px;
}

.intro__title {
  color: $white;
}

.intro__block-text {
  max-width: 752px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}

.intro__button {
  padding: 16px 32px;
}

// ------------------------------------- about

.about__body {
  display: flex;
}
.about__block-img {
  background: url(images/MercedesWheel.png) no-repeat center;
  background-size: cover;
  flex: 1 1 50%;
}

.about__info {
  flex: 1 1 50%;
}
.about__info-img {
  width: 100%;
  max-width: 100%;
}

.about__content {
  color: #6f6f6f;
  max-width: 539px;
  margin: 60px;
}

.about__statistics {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 15px;
}
.about__statistics-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about__statistics-item-title {
  font-size: 40px;
  font-weight: 700;
  color: $primary;
}

.about__statistics-item-text {
  text-align: center;
}

// --------------------------------------- membership

.membership__container {
  padding-top: 85px;
}

.membership__slide {
  width: 100%;
}

.membership__swiper-wrapper {
  align-items: center;
}

.plan-card {
  color: $white;
  border-radius: 12px;
  max-width: 360px;
  background-color: black;
  margin: 0 auto;
  h3 {
    color: $white;
  }
}
.plan-card__wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 32px 24px 40px 24px;
}
.plan-card__head {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 32px;
  padding-bottom: 32px;
  border-bottom: $white solid 2px;
}

.plan-card__body {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 50px;
  flex: 1 1 auto;
}

.plan-card__item {
  padding-left: 28px;
  position: relative;
  display: flex;
  align-items: center;
  gap: 12px;
  justify-content: space-between;
  &::before {
    content: "";
    width: 16px;
    top: 3px;
    left: 0;
    height: 16px;
    position: absolute;
    background: url(images/check-circle.svg) no-repeat center;
  }
}

.plan-card__item-terms {
  color: $white;
}

.plan-card__item-terms--weight-500 {
  font-weight: 500;
}

.plan-card__button {
  padding: 11px 96px;
  margin: 0 auto;
  &:hover {
    color: black;
    background-color: $white;
  }
}

.plan-card--backgroung-primary {
  background-color: $primary;

  .plan-card__head {
    border-bottom: 2px solid $primaryLight;
  }
}

// --------------------------- stamps

.stamps__container {
  padding: 160px 15px 90px 15px;
}

.stamps__intro {
  max-width: 570px;
  margin: 0 auto;
}

.stamps__content {
  max-width: 912px;
  margin: 0 auto;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 45px;
}
.stamps__items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.stamps__item {
  height: 100%;
  max-width: 100px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 8px;
}

.stamps__item-img {
  height: 40px;
}

.stamps__item-text {
  font-size: 14px;
  color: $grey;
}

.stamps__slider {
  width: 100%;
}

// .stamps__slide {
//   margin: 0 auto;
//   max-width: 100px
// }

// ----------------------------------- questions

.questions__body {
  display: flex;
}

.questions__block-img {
  flex: 0 1 50%;
  background: url(images/mechanic.png) no-repeat center;
  background-size: cover;
}

.questions__intro {
  margin-bottom: 0px;
  padding-bottom: 40px;
  border-bottom: 1.5px solid #ebebeb;
}

.questions__spollers {
  padding: 24px 15px 0px 45px;
  flex: 0 1 50%;
}

.questions__spollers-body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.questions__spoller {
  transition: max-height ease 0.8s;
  position: relative;
  max-height: 82px;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 32px 0px;
  border-bottom: 1.5px solid #ebebeb;

  &.active {
    max-height: 400px;

    .questions__spoller-title {
      &::after {
        transform: rotate(180deg);
      }
    }
  }
}

.questions__spoller-title {
  font-weight: 500;

  font-size: 18px;
  &::after {
    content: "";
    transition: all ease 1s;
    display: block;
    position: absolute;
    top: 40px;
    right: 20px;
    width: 15px;
    height: 8px;
    background: url(images/arrow.svg) no-repeat;
    background-size: cover;
  }
}

.questions__spoller-text {
  transition: all ease 0.7s;
  color: $grey;
}

// ------------------------ media

@import "_media";
