@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

p {
  margin: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  line-height: 1;
  font-size: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea,
select {
  font-family: inherit;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: #fff !important;
}

input::-ms-clear {
  display: none;
}

button {
  color: inherit;
  width: auto;
  height: auto;
  font-size: inherit;
  background: none;
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a {
  color: inherit;
}

a,
a:visited {
  font-weight: 400;
  font-size: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
  font-size: inherit;
  font-weight: inherit;
}

body {
  background-color: #f5fafe;
  font-family: "Inter";
  font-size: 16px;
  line-height: 1.4;
}

[class*=__container] {
  padding: 0px 15px;
  max-width: 1200px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4 {
  color: #001c3c;
}

h1 {
  font-weight: 700;
  line-height: 1.2;
}
@media (max-width: 767px) {
  h1 {
    font-size: calc(
      40px + 39.1 * ((100vw - 320px) / 1440)
    );
  }
}
@media (min-width: 767px) {
  h1 {
    font-size: calc(40px + 23 * (100vw / 1440));
  }
}
@media (min-width: 1440px) {
  h1 {
    font-size: 63px;
  }
}

h2 {
  font-weight: 700;
  margin-bottom: 20px;
}
@media (max-width: 767px) {
  h2 {
    font-size: calc(
      24px + 30.6 * ((100vw - 320px) / 1440)
    );
  }
}
@media (min-width: 767px) {
  h2 {
    font-size: calc(24px + 18 * (100vw / 1440));
  }
}
@media (min-width: 1440px) {
  h2 {
    font-size: 42px;
  }
}

h3 {
  font-weight: 600;
}
@media (max-width: 767px) {
  h3 {
    font-size: calc(
      20px + 6.8 * ((100vw - 320px) / 1440)
    );
  }
}
@media (min-width: 767px) {
  h3 {
    font-size: calc(20px + 4 * (100vw / 1440));
  }
}
@media (min-width: 1440px) {
  h3 {
    font-size: 24px;
  }
}

h4 {
  font-weight: 500;
  font-size: 20px;
}

.hover-underline:hover {
  text-decoration: underline;
}

.button {
  transition: ease 0.7s;
  color: #ffffff;
  border-radius: 100px;
  background-color: #00acec;
  padding: 10px 24px;
}
.button:hover {
  background-color: #001c3c;
}

.ta-center {
  text-align: center;
}

.section-intro {
  margin-bottom: 60px;
}

.section-descrp {
  color: #6f6f6f;
}

.slider-pagination {
  display: none;
  position: static;
  margin-top: 20px;
}
.slider-pagination .swiper-pagination-bullet {
  width: 10px;
  background-color: #001c3c;
  height: 10px;
}

.header {
  background-color: #ffffff;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.header__body {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  align-items: center;
  min-height: 85px;
}

.header__logo {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 600;
  font-size: 28px;
  color: #001c3c;
}

.nav__menu {
  display: flex;
  gap: 40px;
  align-items: center;
}

.nav__menu-item {
  color: #001c3c;
}

.nav__menu-link {
  transition: ease 0.5s;
}

.sign__in {
  font-weight: 500;
  color: #001c3c;
}

.sign__up {
  color: #6f6f6f;
}

.menu-burger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.menu-burger__line {
  width: 30px;
  height: 3px;
  border-radius: 2px;
  background-color: black;
}

.intro {
  color: #ffffff;
  background: url(images/IntroBackground.png) no-repeat center;
  background-size: cover;
  margin-top: 85px;
}

.intro__container {
  padding: 200px 15px 200px 15px;
}

.intro__title {
  color: #ffffff;
}

.intro__block-text {
  max-width: 752px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}

.intro__button {
  padding: 16px 32px;
}

.about__body {
  display: flex;
}

.about__block-img {
  background: url(images/MercedesWheel.png) no-repeat center;
  background-size: cover;
  flex: 1 1 50%;
}

.about__info {
  flex: 1 1 50%;
}

.about__info-img {
  width: 100%;
  max-width: 100%;
}

.about__content {
  color: #6f6f6f;
  max-width: 539px;
  margin: 60px;
}

.about__statistics {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 15px;
}

.about__statistics-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about__statistics-item-title {
  font-size: 40px;
  font-weight: 700;
  color: #001c3c;
}

.about__statistics-item-text {
  text-align: center;
}

.membership__container {
  padding-top: 85px;
}

.membership__slide {
  width: 100%;
}

.membership__swiper-wrapper {
  align-items: center;
}

.plan-card {
  color: #ffffff;
  border-radius: 12px;
  max-width: 360px;
  background-color: black;
  margin: 0 auto;
}
.plan-card h3 {
  color: #ffffff;
}

.plan-card__wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 32px 24px 40px 24px;
}

.plan-card__head {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 32px;
  padding-bottom: 32px;
  border-bottom: #ffffff solid 2px;
}

.plan-card__body {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 50px;
  flex: 1 1 auto;
}

.plan-card__item {
  padding-left: 28px;
  position: relative;
  display: flex;
  align-items: center;
  gap: 12px;
  justify-content: space-between;
}
.plan-card__item::before {
  content: "";
  width: 16px;
  top: 3px;
  left: 0;
  height: 16px;
  position: absolute;
  background: url(images/check-circle.svg) no-repeat center;
}

.plan-card__item-terms {
  color: #ffffff;
}

.plan-card__item-terms--weight-500 {
  font-weight: 500;
}

.plan-card__button {
  padding: 11px 96px;
  margin: 0 auto;
}
.plan-card__button:hover {
  color: black;
  background-color: #ffffff;
}

.plan-card--backgroung-primary {
  background-color: #001c3c;
}
.plan-card--backgroung-primary .plan-card__head {
  border-bottom: 2px solid #00acec;
}

.stamps__container {
  padding: 160px 15px 90px 15px;
}

.stamps__intro {
  max-width: 570px;
  margin: 0 auto;
}

.stamps__content {
  max-width: 912px;
  margin: 0 auto;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 45px;
}

.stamps__items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.stamps__item {
  height: 100%;
  max-width: 100px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 8px;
}

.stamps__item-img {
  height: 40px;
}

.stamps__item-text {
  font-size: 14px;
  color: #6f6f6f;
}

.stamps__slider {
  width: 100%;
}

.questions__body {
  display: flex;
}

.questions__block-img {
  flex: 0 1 50%;
  background: url(images/mechanic.png) no-repeat center;
  background-size: cover;
}

.questions__intro {
  margin-bottom: 0px;
  padding-bottom: 40px;
  border-bottom: 1.5px solid #ebebeb;
}

.questions__spollers {
  padding: 24px 15px 0px 45px;
  flex: 0 1 50%;
}

.questions__spollers-body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.questions__spoller {
  transition: ease-in-out 1s;
  position: relative;
  max-height: 90px;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  padding: 32px 0px;
  gap: 50px;
  border-bottom: 1.5px solid #ebebeb;
}
.questions__spoller.active {
  max-height: 400px;
  gap: 20px;
}
.questions__spoller.active .questions__spoller-title::after {
  transform: rotate(180deg);
}

.questions__spoller-title {
  font-weight: 500;
}
@media (max-width: 767px) {
  .questions__spoller-title {
    font-size: calc(
      14px + 6.8 * ((100vw - 320px) / 1440)
    );
  }
}
@media (min-width: 767px) {
  .questions__spoller-title {
    font-size: calc(14px + 4 * (100vw / 1440));
  }
}
@media (min-width: 1440px) {
  .questions__spoller-title {
    font-size: 18px;
  }
}
.questions__spoller-title::after {
  content: "";
  transition: all ease 1.5s;
  display: block;
  position: absolute;
  top: 41px;
  right: 20px;
  width: 15px;
  height: 8px;
  background: url(images/arrow.svg) no-repeat;
  background-size: cover;
}

.questions__spoller-text {
  transition: ease 0.8s;
  color: #6f6f6f;
}
@media (max-width: 767px) {
  .questions__spoller-text {
    font-size: calc(
      14px + 3.4 * ((100vw - 320px) / 1440)
    );
  }
}
@media (min-width: 767px) {
  .questions__spoller-text {
    font-size: calc(14px + 2 * (100vw / 1440));
  }
}
@media (min-width: 1440px) {
  .questions__spoller-text {
    font-size: 16px;
  }
}

@media (max-width: 991px) {
  .nav__menu {
    display: none;
  }
  .header__logo {
    flex: 1 1 auto;
  }
  .menu-burger {
    display: flex;
    margin-left: 15px;
  }
  .about__content {
    margin: 20px;
  }
  .slider-pagination {
    display: block;
  }
  .questions__block-img {
    display: none;
  }
  .questions__spollers {
    padding: 0px 15px;
    flex: 1 1 100%;
    margin: 0 auto;
  }
}
@media (max-width: 767px) {
  .about__block-img {
    display: none;
  }
  .about__info {
    flex: 1 1 100%;
  }
}
@media (max-width: 480px) {
  .sign {
    display: none;
  }
  .questions__spoller-title {
    max-width: 200px;
  }
}/*# sourceMappingURL=styles.css.map */